---
- name: Bootstrap arch machine
  hosts: arch
  become: true
  roles:
    - role: pacman
      tags: pacman
    - role: user
      tags: user
    - role: packages
      tags: packages
    - role: wm
      tags: wm
