---
- name: Bootstrap arch machine
  hosts: arch
  become: true
  roles:
    - role: base
      tags: base
    - role: desktop
      tags: desktop
    - role: user
      tags: user
    - role: packages
      tags: packages

  tasks:
    - name: Apply Nvidia role only if enabled
      import_role:
        name: nvidia
      when: nvidia | default(false)
      tags: nvidia
