---
- name: Bootstrap arch machine
  hosts: arch
  become: true
  roles:
    - role: base
      tags: base
    - role: desktop
      tags: desktop
    - role: user
      tags: user
    - role: packages
      tags: packages
