---
- name: Bootstrap arch machine
  hosts: arch
  become: true
  roles:
    - role: base
    - role: desktop
    - role: user
    - role: packages

  tasks:
    - name: Apply Nvidia role only if enabled
      ansible.builtin.import_role:
        name: nvidia
      when: nvidia_nvidia.enable | default(false)

    - name: Apply Gaming role only if enabled
      ansible.builtin.import_role:
        name: gaming
      when: gaming.enable | default(false)

    - name: Apply Virtualization role only if enabled
      ansible.builtin.import_role:
        name: virtualization
      when: virtualization.enable | default(false)
