---
- name: Ensure user paths dir exists
  ansible.builtin.file:
    path: "/home/{{ user.username }}/.config/shell/"
    state: directory
    mode: '0755'
    owner: "{{ user.username }}"
    group: "{{ user.group | default(user.username) }}"

- name: Create PATH export file
  ansible.builtin.template:
    src: user-env.sh.j2
    dest: "/home/{{ user.username }}/.config/shell/envs"
    mode: '0644'
    owner: "{{ user.username }}"
    group: "{{ user.group | default(user.username) }}"

- name: Create environment variables file
  ansible.builtin.copy:
    dest: "/home/{{ user.username }}/.config/shell/profile"
    content: |
      # Managed by Ansible
      {% for p in user.paths %}
            export PATH="{{ p }}:$PATH"
      {% endfor %}
    mode: '0644'
    owner: "{{ user.username }}"
    group: "{{ user.group | default(user.username) }}"
