---
- name: Ensure syncthing is installed
  community.general.pacman:
    name: syncthing
    state: present

- name: Enable Syncthing user systemd service
  ansible.builtin.systemd:
    name: syncthing.service
    state: started
    enabled: true
    scope: user
  become: true
  become_user: "{{ user.username }}"
