---
# Ensure xdg-user-dirs
- name: Install xdg-user-dirs
  community.general.pacman:
    name: xdg-user-dirs
    state: present
  become: true

- name: Create user directories
  ansible.builtin.command: xdg-user-dirs-update
  become: false
  changed_when: false

- name: Apply GNOME dconf tweaks
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - { key: "/org/gnome/desktop/interface/color-scheme", value: "'prefer-dark'" }
    - { key: "/org/gnome/desktop/interface/icon-theme", value: "'Yaru-blue'" }
