---
- name: Install desktop packages for selected desktops
  community.general.pacman:
    name: "{{ desktop_packages[item].packages }}"
    state: present
  loop: "{{ user.desktops }}"
  become: true

- name: Install selected Display Manager
  community.general.pacman:
    name: "{{ user.display_manager }}"
    state: present
  become: true

- name: Remove packages from desktops not in use
  community.general.pacman:
    name: "{{ item.value.packages }}"
    state: absent
  loop: "{{ desktop_packages | dict2items }}"
  when: item.key not in user.desktops
  failed_when: false
  become: true

- name: Remove display managers not selected
  community.general.pacman:
    name: "{{ item.value.display_manager }}"
    state: absent
  loop: "{{ desktop_packages | dict2items }}"
  when: item.value.display_manager != user.display_manager
  failed_when: false
  become: true
