<?xml version="1.0" encoding="UTF-8"?>
<configuration version="36">
  <gui enabled="true" tls="false">
    <address>127.0.0.1:8384</address>
  </gui>

  <devices>
    {% for name, id in syncthing.devices.items() %}
    <device id="{{ id }}" name="{{ name }}" introducedBy="">
      <address>dynamic</address>
    </device>
    {% endfor %}
  </devices>

  <folders>
    {% for folder_id, folder in syncthing.folders.items() %}
    <folder id="{{ folder_id }}" label="{{ folder_id }}" path="{{ folder.path }}" type="sendreceive">
      {% for dev in folder.devices %}
      <device id="{{ syncthing.devices[dev] }}"></device>
      {% endfor %}
    </folder>
    {% endfor %}
  </folders>
</configuration>

