---
- name: Install libpamac-flatpak from AUR
  become: true
  become_user: "{{ user.name }}"
  kewlfft.aur.aur:
    name: libpamac-flatpak
    state: present

- name: Install aur packages
  kewlfft.aur.aur:
    name: {{ item }}
    state: present
  with_items: "{{ aur }}"
  become: true
  become_user: "{{ user.name }}"

