---
- name: Install flatpak
  community.general.pacman:
    name: flatpak
    state: present

- name: Install Flathub
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user
  become_user: "{{ user.username }}"
  become: true


- name: Install Flatpak packages
  community.general.flatpak:
    name: "{{ packages_flatpak }}"
    state: present
    method: user
  become: true
  become_user: "{{ user.username }}"
  failed_when: false
