- name: Include pacman tasks
  ansible.builtin.include_tasks: pacman.yml

- name: Include AUR package install tasks
  ansible.builtin.include_tasks: aur.yml

- name: Include Flatpak package install tasks
  ansible.builtin.include_tasks: flatpak.yml
