---
- name: Update pacman cache
  community.general.pacman:
    update_cache: true
  become: true

- name: Install dev packages -- compilers and libs
  community.general.pacman:
    name: "{{ packages_dev }}"
    state: present

- name: Install system packages -- system utilities (like ffmpeg)
  community.general.pacman:
    name: "{{ packages_system }}"
    state: present

- name: Install CLI packages -- packages used in the terminal
  community.general.pacman:
    name: "{{ packages_cli }}"
    state: present

- name: Install neovim packages -- install neovim and LSPs/Formatters
  community.general.pacman:
    name: "{{ packages_neovim }}"
    state: present

- name: Install desktop packages -- desktop applications
  community.general.pacman:
    name: "{{ packages_desktop }}"
    state: present
