---
- name: Ensure wineprefix directory exists
  ansible.builtin.file:
    path: "{{ gaming_wine_prefix }}"
    state: directory
    owner: "{{ user.username }}"
    group: "{{ user.group | default(user.username) }}"
    mode: '0755'
  become: true
  tags: [gaming, gaming_wine]

- name: Initialize wineprefix
  ansible.builtin.command: "wineboot --init"
  environment:
    WINEARCH: "{{ gaming_wine_arch }}"
    WINEPREFIX: "{{ gaming_wine_prefix }}"
  become: true
  become_user: "{{ user.username }}"
  args:
    creates: "{{ gaming_wine_prefix }}/system.reg"
  tags: [gaming, gaming_wine]

- name: Apply common winetricks
  ansible.builtin.command: "winetricks -q corefonts vcrun2019"
  environment:
    WINEPREFIX: "{{ gaming_wine_prefix }}"
  changed_when: false
  become: true
  become_user: "{{ user.username }}"
  tags: [gaming, gaming_wine]
