---
- name: Ensure default libvirt network exists
  ansible.builtin.command:
    cmd: virsh net-info default
  register: virtualization_net_info
  ignore_errors: true
  changed_when: false
  become: true

- name: Create default libvirt network if missing
  ansible.builtin.command:
    cmd: virsh net-define /etc/libvirt/qemu/networks/default.xml && virsh net-autostart default && virsh net-start default
  when: virtualization_net_info.rc != 0
  changed_when: false
  become: true
