---
- name: Enable nested virtualization (Intel/AMD) if possible
  ansible.builtin.lineinfile:
    path: "/etc/modprobe.d/kvm.conf"
    line: "options kvm_intel nested=1"
    mode: "0644"
    create: true
    state: present
  when: ansible_processor[0] is search("Intel")
  become: true

- name: Enable nested virtualization (AMD)
  ansible.builtin.lineinfile:
    path: "/etc/modprobe.d/kvm.conf"
    line: "options kvm_amd nested=1"
    mode: "0644"
    create: true
    state: present
  when: ansible_processor[0] is search("AMD")
  become: true
