---
- name: Install Arch build deps
  community.general.pacman:
    name:
      - git
      - base-devel
    state: present
  become: true

- name: Check if yay is installed
  ansible.builtin.command: which yay
  register: base_yay_check
  ignore_errors: true
  changed_when: false

- name: Clone yay repo
  ansible.builtin.git:
    repo: https://aur.archlinux.org/yay.git
    dest: /tmp/yay/
    accept_hostkey: true
    update: true
  become: true
  become_user: "{{ user.username }}"
  when: base_yay_check.rc != 0


- name: Build and install yay
  ansible.builtin.shell: cd /tmp/yay && makepkg -si --noconfirm
  become: true
  become_user: "{{ user.username }}"
  when: base_yay_check.rc != 0
  changed_when: false
