---
- name: Install Arch build deps
  ansible.builtin.pacman:
    name:
      - git
      - base-devel
    state: present

- name: Check if yay is installed
  ansible.builtin.command: which yay
  register: yay_check
  ignore_errors: true

- name: Clone yay repo
  ansible.builtin.git:
    repo: https://aur.archlinux.org/yay.git
    dest: /opt/yay/
    accept_hostkey: true
    update: true
  become: true
  become_user: "{{ user.name }}"
  when: yay_check.rc != 0


- name: Build and install yay
  shell: cd /tmp/yay && makepkg -si --noconfirm
  become: true
  become_user: "{{ user.name }}"
  when: yay_check.rc != 0
