---
# Timezone
- name: Set timezone
  ansible.builtin.command: "timedatectl set-timezone {{ system.timezone }}"
  changed_when: false
  become: true

# Locale
- name: Ensure required locales are enabled in /etc/locale.gen
  ansible.builtin.lineinfile:
    path: /etc/locale.gen
    regexp: "^#?({{ item }})"
    line: "{{ item }}"
  loop:
    - "{{ system.locale.us }}"
    - "{{ system.locale.br }}"
  become: true

- name: Generate locales
  ansible.builtin.command: locale-gen
  args:
    creates: "/usr/lib/locale/{{ system.locale.us }}"
  become: true

# Set main locale + extra locale settings
- name: Configure /etc/locale.conf
  ansible.builtin.template:
    src: locale.conf.j2
    dest: /etc/locale.conf
    mode: '0644'
  become: true

# Console keymap
- name: Set console keymap
  ansible.builtin.copy:
    dest: /etc/vconsole.conf
    content: |
      KEYMAP={{ system.keymap }}
    mode: '0644'
  become: true
