---
- name: Install user shell
  community.general.pacman:
    name: "{{ user.shell }}"
    state: present
  become: true

- name: Get shell binary path
  ansible.builtin.command: "which {{ user.shell }}"
  register: base_shell_path
  changed_when: false

- name: Set user shell and wheel group
  ansible.builtin.user:
    name: '{{ user.username }}'
    comment: '{{ user.description }}'
    shell: "{{ base_shell_path.stdout }}"
    groups: wheel
    append: true
    create_home: true
  become: true
