LANG={{ locale.us }}
LC_ADDRESS={{ locale.br }}
LC_IDENTIFICATION={{ locale.br }}
LC_MEASUREMENT={{ locale.br }}
LC_MONETARY={{ locale.br }}
LC_NAME={{ locale.br }}
LC_NUMERIC={{ locale.br }}
LC_PAPER={{ locale.br }}
LC_TELEPHONE={{ locale.br }}
LC_TIME={{ locale.br }}
