LANG={{ system.locale.us }}
LC_ADDRESS={{ system.locale.br }}
LC_IDENTIFICATION={{ system.locale.br }}
LC_MEASUREMENT={{ system.locale.br }}
LC_MONETARY={{ system.locale.br }}
LC_NAME={{ system.locale.br }}
LC_NUMERIC={{ system.locale.br }}
LC_PAPER={{ system.locale.br }}
LC_TELEPHONE={{ system.locale.br }}
LC_TIME={{ system.locale.br }}
